Connection closes after 120s

After 120 seconds the rcon connections closes with reason message 
"The connection was closed because the other endpoint did not respond with a pong in time. For more information check: https://github.com/TooTallNate/Java-WebSocket/wiki/Lost-connection-detection"

There are no network errors for either this or the server, and it happens when on the same machine as the Rust server and when on a separate machine.

I have the same error, rust has changed the API and surely MrGraversen need update the project.
If you try to access the kills, and the chat, it doesn't work either.

Me too

Hello there, I have rust client on my personal profile

El El dom, 8 ago 2021 a las 5:54, Spittor-Dragon ***@***.***>
escribió:

> Me too
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> <https://github.com/MrGraversen/rust-rcon/issues/1#issuecomment-894738691>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AKOH36A2AFKWVMLLIIGDGGLT3X5XPANCNFSM4WNOQPPQ>
> .
>
-- 
Alejandro Cerrato


Hi all @Watersfall, @Katakurinna, @Spittor. Tagging you in case you may still have some interest in a client library like this.

I have started to work (slowly) on refactoring this project to be much more modern and resilient.

It looks like the Rust (websocket) server still does not implement the [RFC 6455 section 5.5.2](https://datatracker.ietf.org/doc/html/rfc6455#section-5.5.2) `PONG` frame to respond to the websocket clients' `PING` frame.

However, in the "new" version I'm working on, connection recovery will be built in by default, and the ability to manage the heartbeat implementation will be exposed as well.

Hope to see you back here in the future 😄 

Hello there @MrGraversen ! I worked 2 years ago in a new rcon, if you want, we can develop new version together. 
Here is my version if you want to check it!
https://github.com/Katakurinna/rustrcon
I created too a plugin for oxide that show more info, we can improve the plugin for send messages by API-Rest or smth like this. https://github.com/Katakurinna/DeathEvents

Hi all @Watersfall, @Katakurinna, @Spittor. I have recently released a new version of this library, which has been drastically improved and modernized.

Notably, the bug described in this issue has been "resolved" by disabling the `PING` / `PONG` frames from the client, which the Rust game server for some reason does not support, as noted in my previous comment.

I will therefore close this issue. If you still have interest in this project / Rust in general, I hope it serves you well. If there are any subsequent issues, please feel free to open new issues here and I will try to mend them. I will be using this project myself in a more serious manner going forward, so there will be many additions over time 😄 